<!DOCTYPE html>
<html lang="en">
<head>
  <title>Felix Zavala | Web & Email Developer</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://felixzavala.com/css/fxstyle.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/jpg" href="https://felixzavala.com/assets/img/fboxlogowhite.png"/>
  <style>
    body, h1, h2, h3, h4, h5, h6 {font-family: "Lato", sans-serif}
    .fx-bar, h1, button {font-family: "Montserrat", sans-serif}
    .fa-anchor, .fa-coffee {font-size: 200px}
  </style>
</head>
<body>

<!-- Header -->
<header class="fx-container fx-center" style="padding:128px 16px 60px 16px">
  <h1 class="fx-margin fx-jumbo ">Front-end & Email Developer</h1>
  <p class="fx-xlarge fx-content">Blending front-end expertise with a touch of design flair, I navigate the exciting crossroads of creativity and technology.</p>
</header>

<!-- Avatar -->
<div class="fx-row-padding fx-container fx-center" style="padding-bottom: 60px;">
  <div class="fx-content">
    <div>
      <img src="/img/fx_headshot_avatar.png" alt="Avatar of Felix" width="200" height="auto">
    </div>
    
  </div>
</div>

<!-- Intro Paragraph-->
<div class="fx-row-padding fx-mainblue fx-padding-32 fx-container fx-center">
  <div class="fx-content">
    <div>
      <h1><strong>Hola! I'm Felix.</strong></h1>
      <h3 class="fx-padding-16">Over the years, I've had the privilege to collaborate with a dynamic digital experience agency, crafting responsive HTML designs, shaping engaging landing pages, and enhancing websites across various CMS platforms, including WordPress.</h3>
    </div>
  </div>
</div>


<!-- 3up -->
<div class="fx-row-padding fx-container fx-center fx-padding-lr-200" style="background: linear-gradient(#0cc0df 50%, #ffFFFF 50%);">
    <div class="fx-third fx-margin-top-30">
      <div class="fx-card fx-container fx-border-top-radius fx-white fx-hover-teal " style="min-height:460px; padding-bottom: 40px;">
      
      <i class="fa fa-desktop fx-margin-bottom fx-text-theme " style="font-size:120px; padding-top: 40px;"></i>
      <h3>Front-end Developer</h3>
      <p>HTML, CSS, BootStrap</p>
<br>

      <h3>Developer Tools</h3>

      <p>VS Code</p>
      <p>WordPress</p>
      <p>Optimizely</p>
      <p>Photoshop</p>
  <br>


      </div>
    </div>
    
    <div class="fx-third fx-margin-top-30">
      <div class="fx-card fx-container fx-border-top-radius fx-white fx-hover-brown" style="min-height:460px; padding-bottom: 40px;">

      <i class="fa fa-html5 fx-margin-bottom fx-text-theme" style="font-size:120px; padding-top: 40px;"></i>
      <h3>HTML Email Developer</h3>
      <p>HTML, CSS, AMPscript</p>
      <br>

      <h3>Email Developer Tools</h3>

      <p>Salesforce Marketing Cloud</p>
      <p>Mailchimp</p>
      <p>Acoustic Campaign</p>
      <p>Litmus</p>
      <br>
      </div>
    </div>
    
    <div class="fx-third fx-margin-top-30">
      <div class="fx-card fx-container fx-round-large fx-white fx-hover-deep-orange" style="min-height:460px; padding-bottom: 40px;">
      
      <i class="fa fa-paint-brush fx-margin-bottom fx-text-theme" style="font-size:120px; padding-top: 40px;"></i>
      <h3>Graphic Designer</h3>
      <p>Photoshop, Illustrator, Premier Pro, XD</p>
<br>

      <h3>My Stats</h3>

 
      <p>A.A. Degree in Graphic Communications</p>
      <p>5+ Years Freelance Experience</p>
      <p>Proficient in Adobe Creative Suite</p>
        <p>Branding Expertise</p>
<br>
      </div>
    </div>
    </div>
    


<!-- Example of Work -->
<div class="fx-row-padding fx-padding-16 fx-padding-top-80 fx-container fx-center fx-margin-top fx-padding-lr-200">
    <div class="fx-content">
      <div style="padding: 60px 0px 0px 0px;">
        <h1><strong>Examples of My Work</strong></h1>
        <h5 class="fx-padding">My designs feature a fluid layout using media queries and hybrid coding for optimal responsiveness. These technical strategies ensure a seamless and engaging user experience for all recipients, regardless of their device or browser.</h5>
      </div>
    </div>
  </div>

  <!-- START: First Row of My Work -->
  <div class="fx-row-padding fx-padding-lr-200 fx-margin-top-30"> 

    <div class="fx-third fx-margin-top-30">
    <div class="fx-card">
        <a style="text-decoration: none !important" href="https://felixzavala.com/emailtemp2.html" target="_blank"> <img src="https://felixzavala.com/img/PC_Accessories-.jpg" alt="Young man using a gaming PC." style="width:100%" class="fx-hover-opacity fx-border-top-radius">
      <div class="fx-container">
      <p>
        Promotional Email   🢒</p></a>
      </div>
    </div>
    </div>
    
    <div class="fx-third fx-margin-top-30">
    <div class="fx-card">
        <a style="text-decoration: none !important" href="https://felixzavala.com/emailtemplate3.html" target="_blank"><img src="/img/Cyberhero640px.jpg" alt="2 Developers looking at a laptop screen with intent." style="width:100%" class="fx-hover-opacity fx-border-top-radius">
      <div class="fx-container">
      <p>Product Email  🢒</p></a>
      </div>
    </div>
    </div>
    
    <div class="fx-third fx-margin-top-30">
    <div class="fx-card">
        <a style="text-decoration: none !important" href="http://felixzavala.com/healthtea.html" target="_blank"> <img src="http://felixzavala.com/img/TeaLogoThumb.jpg" alt="Group of children signing to the camera." style="width:100%" class="fx-hover-opacity fx-border-top-radius">
      <div class="fx-container">
      <p>Welcome Email  🢒</p></a>
      </div>
    </div>
    </div>
    </div>
<!-- END: First Row of My Work -->


<!-- START: Second Row of My Work -->
  <div class="fx-row-padding fx-padding-lr-200 fx-padding-bottom-64"> 

    <div class="fx-third fx-margin-top-30">
    <div class="fx-card">
        <a style="text-decoration: none !important" href="https://felixzavala.com/ArasakaEmail.html" target="_blank"> <img src="http://felixzavala.com/img/ChatGPT600x400.jpg" alt="Mobile Device with the ChatGPT logo in the back." style="width:100%" class="fx-hover-opacity fx-border-top-radius">
      <div class="fx-container">
      <p>Product Email  🢒</p></a>
      </div>
    </div>
    </div>
    
    <div class="fx-third fx-margin-top-30">
    <div class="fx-card">
        <a style="text-decoration: none !important" href="https://felixzavala.com/HopeNewsletter.html" target="_blank"><img src="https://felixzavala.com/img/Hope-Hero.jpg" alt="Group of children signing to the camera." style="width:100%" class="fx-hover-opacity fx-border-top-radius">
      <div class="fx-container">
      <p>Email Newsletter  🢒</p></a>
      </div>
    </div>
    </div>
    
    <div class="fx-third fx-margin-top-30">
    <div class="fx-card">
        <a style="text-decoration: none !important" href="https://felixzavala.com/judostudio/index.html" target="_blank"> <img src="https://felixzavala.com/img/JudoThumb600x400.jpg" alt="Judoka on his knees in a respective bow" style="width:100%" class="fx-hover-opacity fx-border-top-radius">
      <div class="fx-container">
      <p>
        Landing Page   🢒</p></a>
      </div>
    </div>
    </div>
    </div>
<!-- END: Second Row of My Work --> 






<!-- Footer -->
<footer class="fx-container fx-padding-32 fx-center fx-mainblue fx-margin-top-30" >  
  <div class="fx-xxlarge fx-padding-top-80" style="padding: 0px 100px;">
    <a href="https://www.youtube.com/@felix_codes"> <i class="fa fa-youtube-play fx-hover-opacity"></i></a>&nbsp;
    <a href="https://www.linkedin.com/in/felix-zavala-8a8266231/"><i class="fa fa-linkedin fx-hover-opacity"></i></a>&nbsp;
    <a href="mailto:jfelixzavala10@gmail.com"><i class="fa fa-envelope fx-hover-opacity"></i></a>
 </div>
 <p>FelixZavala.com <br> &copy; 2019-2024</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("fx-show") == -1) {
    x.className += " fx-show";
  } else { 
    x.className = x.className.replace(" fx-show", "");
  }
}
</script>

</body>
</html>
