@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Roboto:wght@300;400&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "montserrat", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
  background-image: linear-gradient(
    rgb(230, 230, 230),
    white,
    white,
    white,
    white
  );
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/img/laptopcoverzero.jpg");
  min-height: 100%;
}

.js {
  width: 5rem;
}
.js-large {
  width: 7rem;
}

#jscal {
  padding-left: 60%;
  width: 50px;
}

#calthumb {
  max-width: 800px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40%;
}

#jscaltitle {
  font-size: 2rem;
  text-align: center;
  padding-left: 27%;
  padding-top: 5%;
}

.fa-calculator {
  width: 20px;
}

#js-p {
  text-align: justify;
  margin: 1rem auto;
  font-size: 1.3rem;
  width: 50%;
}

.center {
  text-align: center;
}
a {
  text-decoration: none;
}
#logo {
  width: 5rem;
  margin-left: 5%;
  margin-top: 1%;
}
.logobottom {
  width: 10rem;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.head-title {
  font-size: 4.5rem;
  color: #2f2f2f;
  text-align: center;
}

.banner-title {
  font-size: 5rem;
  color: rgb(233, 233, 233);
  text-align: center;
}

.intro {
  font-size: 3rem;
  text-align: center;
  color: #2f2f2f;
}

#p1 {
  font-size: 1.9rem;
  width: 60%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.center-button {
  margin: 0;
  position: relative;
  left: 28%;
  margin: 1%;
}

.center-single-button {
  margin: 0;
  position: relative;
  left: 35%;
  margin: 1%;
}

.buttons a :hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s;
  color: rgb(0, 0, 0);
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
    border-color: white;
    border-style: solid;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
    border-color: white;
    border-style: solid;
  }
}

/* code section */

.section2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  height: 800px;
  background: url(/img/jscalculator.JPG) no-repeat center / cover;
  border-radius: 60px;
}

.right {
  width: 60%;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 40px;
  color: rgb(0, 0, 0);
  margin-left: -150px;
  text-align: left, justify;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

.right a,
button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0px 0px;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 15px;
}

.right a :hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s;
  color: rgb(0, 0, 0);
}

#aboutpic {
  width: 100%;
  max-width: 600px;
  margin-top: 100px;
}

.space {
  margin: 450px;
}

div#back {
  position: relative;
  background-color: #2e446e;
  padding: 128px 16px;
  width: 100%;
  padding-top: 15%;
  border-bottom-right-radius: 100% 1000px;
  border-bottom-left-radius: 50% 30px;
}

div#back1 {
  position: relative;
  padding-top: 20%;
  padding-bottom: 5%;
  margin-top: 1%;
  background-color: #adc4f0;
  border-top-left-radius: 50% 30px;
  border-top-right-radius: 50% 30px;
  width: 100%;
}

#backx {
  position: relative;

  background-color: #4e74ba;

  width: 100%;
}

#backx1 {
  position: relative;
  background-color: rgb(230, 230, 230);
  width: 100%;
}
div#back0 {
  position: relative;

  padding-bottom: 5%;
  padding-top: 5%;
  background-color: rgb(230, 230, 230);

  width: 100%;
}
div#back2 {
  position: relative;
  padding: 5%;
  background-color: #adc4f0;
  width: 100%;
  padding-top: 20%;
  border-top-left-radius: 10%;
}
div#back3 {
  position: relative;
  padding: 1%;
  background-color: rgb(230, 230, 230);
  width: 100%;
  margin-top: 1%;
  padding-top: 10px;
  border-bottom-left-radius: 100% 100px;
  border-bottom-right-radius: 100% 100px;
}

div#back3a {
  position: relative;
  padding: 1%;
  background-color: rgb(46, 68, 110);
  width: 100%;
  margin-top: 10%;
  padding-top: 10px;
  border-bottom-left-radius: 100% 100px;
  border-bottom-right-radius: 100% 100px;
  color: rgb(230, 230, 230);
}

div#back4 {
  position: relative;
  padding: 5%;
  background-color: #6495ed;
  width: 100%;

  border-bottom-right-radius: 0%;
}

h3 {
  margin: 0;
}

.textblack {
  color: rgb(230, 230, 230);
  text-align: center;
  font-size: 3rem;
  animation: arrow 6s infinite;
  animation-delay: 2s;
}
@keyframes arrow {
  from {
    color: rgb(230, 230, 230);
  }
  to {
    color: #2f2f2f;
  }
}

#myNavbar {
  background-color: rgba(46, 68, 110, 0.5);
  box-shadow: none;
}
.containerx {
  display: inline-block;
}
.typed-out {
  overflow: hidden;
  border-right: 0.1em solid orange;
  border-radius: 1px;
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blinking 1.2s infinite;
  font-size: 5rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(233, 233, 233);
  }
}

.w3-large {
  color: rgb(61, 61, 61);
}

.navy {
  background-color: rgba(46, 68, 110);
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 90px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 2%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
