@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url("/img/peak1.jpg");
  background-repeat: no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  font-family: "Audiowide", cursive;
}

.p1 {
  color: rgb(255, 255, 255);
  background-color: rgba(104, 104, 104, 0);
  border-color: rgb(0, 0, 0);
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  border-radius: 20px;
}

#cred {
  color: rgb(255, 255, 255);

  text-align: left;
}

.countdown {
  text-align: center;
  font-size: 6rem;
  margin-top: 0px;
}

.buffer {
  height: 5rem;
}

.buffersmall {
  height: 3rem;
}

#strike {
  font-size: 9rem;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: rgb(0, 0, 0, 0.5);
  border-color: rgb(0, 225, 255, 0);
}

.btn-primary:hover {
  background-color: rgb(0, 153, 255, 0);
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 700px) {
  body,
  html {
    width: 100%;

    font-family: "Montserrat", sans-serif;
    background: url("/img/peak1.jpg");
    background-repeat: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0, 0.5);
  }
}
@media {
  body,
  html {
    width: 100%;

    max-width: 2000px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background: url("/img/peak1.jpg");
    background-repeat: no-repeat fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
  }
}
